<div class="container-general">
    <!-- ======== PERFIL ==========  -->

    <div class="perfil">
        <div class="img">
            <div class="bg-img">
                <img src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
            </div>
            <div class="name-user">
                <span>Mário Henrique</span>
            </div>
        </div>
        <div class="saldo">
            <span>Saldo:</span>
            <span>1,200.22</span>
        </div>
    </div>

    <!-- ===== GAME ===== -->

    <div class="game">
        <div class="background-game">
            <div class="gray-double"></div>
            <div class="blue-double"></div>
            <div class="orange-double"></div>
            <div class="gray-double"></div>
            <div class="blue-double"></div>
            <div class="orange-double"></div>
            <div class="gray-double"></div>
            <div class="blue-double"></div>
            <div class="orange-double"></div>
            <div class="gray-double"></div>
            <div class="blue-double"></div>
            <div class="orange-double"></div>
            <div class="gray-double"></div>
            <div class="blue-double"></div>
        </div>
    </div>

    <!-- =========== PROGRESS BAR ======== -->

    <div class="progresbar-general">
        <div class="progressbar">
            <div class="progress-custon"></div>
            <div class="porcent"><span>Girando Em 2.05</span></div>
        </div>
    </div>

    <!-- ============= BET ============== -->

    <div class="bet-general">
        <div class="bg-bet">
            <div class="money-bet">
                <span class="vl-money">Valor da aposta</span>
                <span>483</span>
            </div>
            <div class="buttons">
                <button>Clear</button>
                <button>ULTIMO</button>
                <button>+1</button>
                <button>+100</button>
                <button>1/2</button>
                <button>X2</button>
                <button>MAX</button>
            </div>

        </div>
    </div>

    <!-- ======================================================== CARDS ====================================================================== -->

    <div class="card-general">
        <div class="card-custom">
            <div class="colors">
                <div class="gray"></div>
                <div class="gray"></div>
            </div>
            <span>Win 2x</span>
        </div>
        <div class="card-custom">
            <div class="colors">
                <div class="blue"></div>
                <div class="blue"></div>
            </div>
            <span>Win 5x</span>
        </div>
        <div class="card-custom">
            <div class="colors">
                <div class="orange"></div>
                <div class="orange"></div>
            </div>
            <span>Win 10x</span>
        </div>
    </div>

    <!-- ======================================================== RECTANGLE ====================================================================== -->

    <div class="rectangle-general">
        <div class="rectangle-custom">
            <div class="header-title-rectangle">
                <span>5 Bets</span>
                <div class="qntIcon">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle border-gray">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
        </div>
        <div class="rectangle-custom">
            <div class="header-title-rectangle">
                <span>5 Bets</span>
                <div class="qntIcon">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle border-blue">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
        </div>
        <div class="rectangle-custom">
            <div class="header-title-rectangle">
                <span>5 Bets</span>
                <div class="qntIcon">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle-no">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
            <div class="bg-rectangle border-orange">
                <div class="avatarName">
                    <img
                        src="https://cdn.discordapp.com/attachments/976668675090313246/1022654604598587422/unknown.png">
                    Mário Henrique
                </div>
                <div class="iconValor">
                    <i class="ph-currency-circle-dollar-bold"></i>
                    <span>153.3</span>
                </div>
            </div>
        </div>
    </div>

</div>